%h1 Show Page

%h3= @post.title
%small= @post.user.name
%small= link_to "Visit Art", @post.link, target: :_blank
= image_tag @post.image.url(:medium)
%p=simple_format(@post.description)

#comment
  %h2.comment_count= pluralize(@post.comments.count, "Comment")
  = render 'comments/form'
  - @comments.each do |comment|
    .comment
      %p.username= comment.user.name
      %p.content= comment.content
= link_to "Edit", edit_post_path
= link_to "Back", root_path
= link_to "Delete", @post, method: :delete, confirm: {data: "Are You Sure?"}
